Architecture: amd64
Depends: libqt5core5a,
	 libqt5gui5,
	 libqt5widgets5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Dreamy
Priority: optional
Section: Science
Version: 2025.05.14
Description: Dreamy
 Welcome to Dreamy!
 Dreamy is governed by a BSD license. Enjoy!
