Architecture: armhf
Depends: libqt5core5a (>= 5.12.0),
	 libqt5gui5 (>= 5.12.0),
	 libqt5widgets5 (>= 5.12.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Dreamy
Priority: optional
Section: Science
Version: 2023.04.04
Description: Dreamy
 Welcome to Dreamy on ARM!
 Dreamy is governed by a BSD license. Enjoy!
